body {
    font-size:large;
    display: flex;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.LHS-container {
    flex:2;
    background-color: rgba(219, 79, 79, 0.817);
    color: whitesmoke;
    border-right: 2px;
    border-color: rgb(133, 27, 27);
}

.LHS-container .logo {
    text-align: center;
    margin-right: 60px;
}
.LHS-container > img {
    width: calc(90%);
}

.RHS-container {
    display: flex;
    flex-direction: column;
    flex:3;
    justify-content: center;
    align-items: center;
}

.input, .promo, .create-account {
    flex:1;
    display:flex;
}

.promo, .create-account {
    background-color: rgb(180, 53, 53);
    width: 100%;
}

.promo {
    align-items: flex-end;
}

p {
    margin: 15px 0px;
}
.text-width {
    font-size: 28px;
    color: #e1dede;
    padding: 30px;
}

/* Section 2 */
.input {
    flex-direction: column;
    width: 100%;
    background-color: rgba(219, 79, 79, 0.817);
}

.text-2 {
    display: flex;
    padding: 0px 30px;
    color: whitesmoke;
}

h4 {
    margin: 24px 0px 6px 0px;
}

.container-1, .container-2, .container-3 {
    display: flex;
    justify-content: space-around;
}

.container-1 > *,
.container-2 > *,
.container-3 > * {
    display: grid;
    padding: 14px 30px;
}

.container-3 {
    padding: 0px 0px 8px 0px;
}

form {
    color: rgba(245, 245, 245, 0.779);
    font-size: 14px;
}

input {
    width: 190px;
}
/* Section 3 */


button {
    display: flex;
    width: auto;
    padding: 16px;
    font-size: large;
    border: 1px;

    border-radius: 18px;
    color: whitesmoke;
    font-weight: 400;
    background-color: rgb(219, 79, 79);
    border-color: rgb(151, 18, 18);
}

button:focus, button:active {
    outline: none;
}

.btn {
    padding: 30px;
}

.log-in-prompt {
    color: #e1dede;
    padding: 0px 30px;
    font-size: 22px;
    display: flex;
    align-items: center;
}

span {
    color: rgb(176, 165, 165);
}